.select-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 16px; 
}

.select-wrapper select {
  height: 4vh;
  width: 38vw;
  border: 0;
  border-radius: 8px;
  font-size: 18px;
  padding: 0 12px;
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50vw;
}
