.select-wrapper {
    margin-bottom: 16px; /* Espaçamento vertical desejado */
  
    select {
      height: 4vh;
      width: 38vw;
      border: 0;
      border-radius: 8px;
      font-size: 18px;
      padding: 0 12px;
      cursor: pointer;
    }
  }
  